body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  padding: 0;
}

p {
  color: white;
}

.main-container {
  background: #3d3c3c;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-link {
  color: #d0cbcb;
}

.nav-tabs .nav-link.active {
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
  color: white;
}
#filter-menu {
  width: 26%;
}
